.sponsor {
    background-color: var(--color-base-1);
    border: solid 1px var(--color-base-3);
    border-radius: var(--rounded);
}

.sponsor > header {
    padding: var(--size-sm);
    text-align: center;
    border-bottom: solid 1px var(--color-base-3);
}

.sponsor > header > h3 {
    font: var(--font-heading-xs);
    text-transform: uppercase;
}

.sponsor > main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: var(--size-sm);
    padding: var(--size-lg);
}

.sponsor > main img {
    object-fit: contain;
}
