.sponsorWidget {
  background-color: var(--color-base-1);
  border: solid 1px var(--color-base-3);
  border-radius: var(--rounded-sm);
}

.sponsorWidget > header {
  padding: var(--size-3);
  text-align: center;
  border-bottom: solid 1px var(--color-base-3);
}

.sponsorWidget > header > h3 {
  font: var(--font-heading-xs);
  text-transform: uppercase;
}

.sponsorWidget > main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
  padding: var(--size-5);
}

.sponsorWidget > main img {
  object-fit: contain;
}
