.container {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
  padding: 0 var(--size-5);
  margin: 64px auto;
}

.container > main {
  padding: 48px var(--size-5);
}

.container > main img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    padding: 0 var(--size-5);
    grid-template-columns: 250px 1fr 250px;
  }

  .container > main {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
