.wrapper {
  display: flex;
  gap: var(--size-3);
  align-items: center;
  padding: var(--size-2);
}

.spinner {
  display: block;
  animation: 1s linear 0s spin infinite;
}

.label {
  font: var(--font-body);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
