.header {
  padding-bottom: var(--size-6);
  margin-bottom: var(--size-6);
  border-bottom: 1px solid var(--color-base-4);
}

.eventDateRange {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0 var(--size-2);
}
