.header {
  margin-bottom: var(--size-6);
}

.header h1 {
  margin-bottom: var(--size-4);
}

.utskott {
  list-style: none;
  margin-bottom: var(--size-5);
}

.utskott a {
  color: var(--color-primary);
  text-decoration: underline;
}
