.navbar {
    position: relative;
}

.navbar > header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-2);
    padding: var(--size-sm);
    box-shadow: var(--shadow);
}

.logo {
    align-self: center;
}

.menuButton {
    position: absolute;
    display: flex;
    right: 0;
    top: var(--size-sm); /* slightly wacky way to put it in the right spot */
    margin: var(--size-md);
}

.menu[open] .menuIcon {
    display: none;
}

.menu:not([open]) .closeIcon {
    display: none;
}
