.navbarLink {
}

.label {
    padding-left: calc(var(--depth) * var(--size-md));
    display: block;
}

.navbarLink[open] .iconClosed {
    display: none;
}
.navbarLink:not([open]) .iconOpen {
    display: none;
}
