.navbarLink {
    background: var(--color-base-3);
    padding-left: var(--size-md);
}

.navbarLink > nav {
    border-left: 2px solid var(--color-base-4);
}

.navbarLink > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    padding: 0 var(--size-md);
}

.label {
    display: block;
    flex: 1;
    padding-top: var(--size-md);
    padding-bottom: var(--size-md);
    font: var(--font-button);
}

.navbarLink[open] > summary > .icon > .iconClosed {
    display: none;
}

.navbarLink:not([open]) > summary > .icon > .iconOpen {
    display: none;
}
