.button {
  position: absolute;
  pointer-events: none;
  opacity: 0%;
  top: var(--size-md);
  left: var(--size-md);
  z-index: 999;
  border-radius: var(--rounded);
  padding: var(--size-sm);
  background: var(--color-primary-subtle);
  font: var(--font-button);
  transition: opacity var(--ease-out);
}

.button:focus {
  opacity: 100%;
}
