.content h1 {
  font: var(--font-heading-md);
  margin-bottom: var(--size-3);
  margin-top: var(--size-5);
}

.content h2 {
  font: var(--font-heading-sm);
  margin-bottom: var(--size-3);
  margin-top: var(--size-5);
}

.content h3,
.content h4 {
  font: var(--font-heading-xs);
  margin-bottom: var(--size-3);
  margin-top: var(--size-5);
}

.content p {
  margin-bottom: var(--size-3);
}

.content a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: opacity var(--ease-out);
}

.content a:hover {
  opacity: 60%;
}

.content a:visited {
  color: color-mix(in srgb, var(--color-primary) 70%, red 30%);
}

.content ul,
.content ol {
  margin-bottom: var(--size-3);
  list-style-position: inside;
}

.content img {
  max-width: 100%;
  height: auto;
}
