.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER STYLING */

.No-Img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Header-Wrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
}

.Img-Wrapper {
  flex-grow: 1;
  max-width: 1200px;
}

.Img-Wrapper div {
  position: relative;
  transition: padding 0.3s ease;
}

.Gradient {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), hsl(0, 0%, 5%));
  opacity: 0.4;
  background-size: cover;
  background-position: center;
}

.Title {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  font-weight: bold;
  margin: 12px;
  font-size: 3rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Page-Header {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* FOOTER STYLING */

.Footer {
  background: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 5%);
  text-align: center;
  font-size: 14px;
}

.Footer-Content {
  display: flex;
  padding: 12px * 2;
  justify-content: center;
  margin: auto;
  max-width: 850px;
  flex-grow: 1;
  flex-basis: 0;
}

.Footer-Content div {
  flex-grow: 1;
  flex-basis: 0;
}

.Social-Icons {
  background: hsl(0, 0%, 87%);
  padding-top: 12px;
  padding-bottom: 12px/2;
}

.Social-Icons a {
  padding: 12px/2;
  color: hsl(0, 0%, 15%);
}

.Social-Icons a:hover {
  color: #e5398d;
}

.Social-Icons a svg {
  height: 48px;
  width: 48px;
}

.Links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: 1.5em;
}

.Links a {
  color: hsl(0, 0%, 15%);
}

.Links a:hover {
  text-decoration: underline;
}

.Logo {
  display: flex;
  align-items: center;
  text-align: left;
}

.Logo img {
  width: 150px;
  height: 150px;
  margin-right: 12px;
}