@import"font.css";

html{
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    height: 100%;
}


.navbar{
    width: 100%;
    height: 40px;
    background-color: #F8F0E5;
    margin-top: 150px;
}

.navbar:hover{
    color: #000000

}

.student{
    text-align: center;   
    font-size: 30px; 
    border-radius: 3px;
    padding: 5px;

}

.studentMenu{
    margin-top: 20px;
    text-align: center;   
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: center;
    gap: 10px;
    align-content: center;
    padding: 5px;
}

.student a{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-family: dsek;
    font-weight: 300;
}



.student a:hover{
    color: #9E7676;
    text-decoration: underline;
        
}

.spons{
    width: 100%;
    margin-top: 100px;
}

.s{
    float: right;
    width: 200px;
    margin-left: 40px;
}

.sponsclass{
    width: 1000px
}

.header{
    margin-top: 5%;
    top: 0;
}

.headerimg{
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
