.paginationButton {
  background-color: var(--color-base-3);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationButton:hover {
  background-color: var(--color-base-4);
  text-decoration: none;
  transition: background-color var(--ease-out);
}

.paginationButton.disabled {
  opacity: 60%;
  pointer-events: none;
}

.paginationButton.active {
  background-color: var(--color-primary);
}
