.back-to-top {
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  background: rgb(0, 72, 255);
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  z-index: 1;
}

.back-to-top:hover {
  background: rgb(0, 140, 255);
}
