.narrow-header,
.wide-header {
    top: 0;
    width: 100%;
    z-index: 500;
    /* background-image: url("../../public/bg.jpg"); */
    background-size: cover;
}

.wide-header {
    background-color: var(--header-bg-color);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.narrow-header {
    background-color: #000;
    box-shadow: none;
}

@media only screen and (min-width: 900px) {
    .narrow-header {
        display: none;
    }

}

@media only screen and (max-width: 900px) {
    .wide-header {
        display: none;
    }

    .logo {
        border-left: 40px solid black;
        border-right: 40px solid black;
        background-color: black;
        /* border-radius: 5vh; */
    }
}

.narrow-header .logo-container {
    height: 3em;
    /* behöver använda samma enhet som margin i ".hamburger" i Nav.css */
}

.wide-header .logo-container {
    height: 150px;
    transition: 0.3s;
    font-size: 0;
    /* Needed to keep <a> confined to the bounds of .logo-container */
}

.wide-header .logo-container.hidden {
    height: 0;
    margin-top: 0px;
    margin-bottom: 32px;
    opacity: 0;
}

.logo {
    height: 100%;
    object-fit: contain;

}
