/* NarrowNav */
@media only screen and (max-width: 900px) {
    .site-nav {
        display: none;
        grid-template-columns: 100%;
        justify-content: left;
        width: 100%;
        height: fit-content;
        margin-right: 0;
        background-color: #000;
    }

    .narrow-header {
        overflow-x: hidden;
        /* OBS! om content är för långt så kommer det inte gå att se hela */
    }

    .nav-button {
        border-top: 0.5px solid #3b3b3b;
        padding: 3px 10px 3px 10px;
        width: 100%;
        line-height: 32px;
        margin: 2px;
        color: white;
        text-align: left;
    }

    a.dropdown-nav-button:hover, .nav-button:hover {
        color: #F7E623;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        margin: -2em 1em auto auto; 
        /* använd samma enhet som height i ".narrow-header .logo-container"
        i Header.css */
        /* varför syns den på vissa datorer men inte andra? */
        color: #fff;
        padding: 0;
    }
    
    .hamburger:hover {
        cursor: pointer;
        color: #F7E623;
    }
    
    .dropdown .dropdown-nav-button {
        display: block;
        border-top: 0.5px solid #3b3b3b;
        padding: 5px 5px 5px 35px;
        width: 100%;
        text-decoration: none;
        background-color: #121212;
        color: #fff;
        text-align: left;
        transition: 0.4s;
        /* NOTE: longer than original site, why? */
    }

    a.reg-nav-button {
        border-top: 0.5px solid #3b3b3b;
        display: block;
    }
    
    .dropdown-items {
        width: 100%;
        z-index: 2;
        overflow-wrap: break-word;
        contain: content;
    }

    .button-layout > p {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

}

/* WideNav */
@media only screen and (min-width: 900px) {
    .site-nav {
        display: flex !important;
        justify-content: center;
        width: 100%;
        height: 48px;
        min-width: fit-content;
    }

    .nav-button {
        margin: 0 6px 0 6px;
        padding: 0 14px 0 14px;
        font-size: 24px;
        height: 32px;
        line-height: 32px;
        background-color: var(--navbar-bg-color);
        /* color: var(--navbar-text-color); */
        color: black;
        transition: 0.4s;
    }

    .dropdown:hover .nav-button,
    a.dropdown-nav-button:hover,
    .nav-button:hover {
        cursor: pointer;
        color: #F7E623;
    }

    .dropdown-items {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #fff;
        width: fit-content;
        min-width: 100%;
        max-width: 20em;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    }

    .dropdown:hover .dropdown-items {
        cursor: pointer;
        display: block !important;
    }
    
    .dropdown .dropdown-nav-button {
        display: block;
        padding: 5px 5px 5px 5px;
        text-align: left;
        text-decoration: none;
        transition: 0.4s;
        /* NOTE: longer than original site, why? */
    }
    
    .dropdown {
        position: relative;
    }

    .button-layout > p, .button-layout > img {
        margin: 0;
    }

    .hamburger {
        display: none;
    }
}

.button-layout {
    /* För bild + namn i utskottsmenyn */
    display: flex;
}

.dropdown-nav-button a {
    border: none;
}

.reg-nav-button {
    cursor: pointer;
}

.dropdown-button {
    cursor: default;
    white-space: nowrap;
}

button {
    background-color: '#4CAF50';
    color: 'white';
    padding: '10px 20px';
    font-size: '16px';
    border-radius: '5px';
    cursor: 'pointer';
    border: 'none';
}

.dropdown-nav-button .dropdown-icon {
    /* För de små bilderna brevid utskottsnamnen */
    max-width: 24px; 
    max-height: 24px; 
    margin-right: 8px; 
}

@font-face {
    font-family: 'staben';
    src: url('../fonts/ROCKYAOE.ttf') format('truetype'); 
}

.staben {
    font-family: 'staben';
    color: rgba(226,56,40, 1);
    font-weight: normal;
    line-height: 1;
    font-size: 1.25em;
}