.Footer {
    background: #ccc;
    color: #0d0d0d;
    text-align: center;
    font-size: 14px;
}

.Footer-Content {
    display: flex;
    padding: 24px;
    justify-content: center;
    margin: auto;
    max-width: 850px;
}

.Footer-Content > div {
    flex-grow: 1;
    flex-basis: 0;
}

.Social-Icons {
    background: #dedede;
    padding-top: 12px;
    padding-bottom: 6px;
}

.Social-Icons a {
    padding: 6px;
    color: #262626;
}

.Social-Icons a:hover {
    color: #e5398d;
}

.Social-Icons a svg {
    height: 48px;
    width: 48px;
}

.Links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 1.5em;
}

.Links a {
    color: #262626;
}

.Links a:hover {
    text-decoration: underline;
}

.Logo {
    display: flex;
    align-items: center;
    text-align: left;
}

.Logo img {
    width: 150px;
    height: 150px;
    margin-right: 12px;
}
