.Header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.Header-Img {
    left: calc(50% - 161px);
    transition: 0.3s;
    height :100%;
    opacity: 1;
}

@media only screen and (min-width: 850px) {
    .narrow-header {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .wide-header {
        display: none;
    }
    .Header-Img {
        transition: none;
    }
    .Header {
        background-color: #000;
        box-shadow: none;
    }
}