.Header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.Header-Img {
    position: relative;
    left: calc(50% - 161px);
    height: 70px;
}