.Home {
    position: relative;
    display: flex;
    margin-top: 128px;
    width: 100%;
    padding-bottom: 16px;
}

.Left {
    width: 25%;
}

.Middle {
    width: 50%;
}

.Right {
    width: 25%;
}