.Hamburger-Button, .Search-Button, .Member-Button {
    height: 30px;
    width: 30px;
    flex-grow: 0;
    margin-right: 12px;
    cursor: pointer;
    color: black;
}

.Hamburger-Button:hover, .Search-Button:hover, .Member-Button:hover {
    stroke: #e5398d;
}

.Hamburger-Button {
    display: none;
    margin-right: auto;
}

.Logo {
    stroke: #0d0d0d;
}

.Grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}

.Grid .Site-Logo-Wrapper {
    display: flex;
    justify-content: center;
}

.Grid .Site-Logo-Wrapper a {
    display: inline-block;
    max-width: 400px;
    padding: 12px;
}

.Grid .Site-Logo-Wrapper svg {
    width: 100%;
    transition: all 0.3s;
}

.Grid .Nav-Menu {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Grid .Nav-Menu li:hover > ul {
    opacity: 1;
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    left: 0;
}

.Grid .Nav-Menu ul {
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    min-width: 180px;
    z-index: -1;
    transition: opacity 0.15s ease-in-out;
}

.Grid .Nav-Menu ul li:hover > ul {
    left: 100%;
    top: 0;
}

.Grid .Nav-Menu ul ul {
    margin-left: 0;
}

.Grid li {
    display: block;
    position: relative;
    min-width: 60px;
    margin-right: 6px;
    transition: background-color 0.15s linear, border 0.15s linear;
}

.Grid li:hover {
    background: #e5398d;
}

.Grid li:hover > a {
    color: #f7e623;
}

.Grid li li {
    width: 100%;
    margin: 0;
    border-radius: 0;
    background: #f6e4e4;
}

.Grid li li a, .Grid li li span {
    padding: 8px 12px;
    text-align: left;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Grid li li span {
    cursor: default;
}

.Grid ul a, .Grid ul span {
    color: black;
    height: 100%;
    padding: 18px 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.15s linear;
}

.Grid ul a svg, .Grid ul span svg {
    margin-left: 6px;
    height: 15px;
    width: 15px;
}

.Grid > ul > li:last-child {
    margin-right: 0;
}

.Menu {
    position: sticky;
    top: 0;
    background-color: #f6e4e4;
    font-family: 'Asap', Arial, sans-serif;
    z-index: 5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
