.Page-Header-Wrapper {
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    overflow: hidden;
}

.Page-Header-Wrapper .Image-Wrapper {
    flex-grow: 1;
    max-width: 1200px;
}

.Page-Header-Wrapper .Image-Wrapper > div {
    position: relative;
    transition: padding 0.3s ease;
}

.Gradient {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #0d0d0d);
    opacity: 0.4;
    background-size: cover;
    background-position: center;
}

.No-Image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.Bg-Image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    margin: -60px;
}

.Page-Header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.Page-Header > img {
    width: 100%;
}

.Title {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    color: #f6e4e4;
    font-weight: bold;
    margin: 12px;
    font-size: 3rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
