.Widget {
    margin: 8px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.Widget-Title {
    text-align: center;
    font-size: 95%;
    margin: 0;
    line-height: 1.2;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-transform: uppercase;
    background-color: hsla(0, 0%, 82%, .3);
}

.Widget-Img {
    width: 128px;
    padding: 16px;
}

.fc .fc-list-empty-cushion {
    text-align: center;
}

.CalendarWidget {
    margin: 0.7em auto auto auto;
}

@media only screen and (max-width: 900px) {
    .Widget {
        width: 95%;
    }

    .CalendarWidget {
        max-width: 95%;
        /* margin: 0.7em auto auto auto; */
    }
}