.navbarLink {
    position: relative;
}

.label {
    padding: var(--size-md) var(--size-sm);
    width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    user-select: none;
    gap: var(--size-xs);
}

.navbarLink > nav {
    color: initial;
    visibility: hidden;
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    position: absolute;
    bottom: calc(-1 * var(--size-sm));
    height: max-content;
    left: 0;
    opacity: 0;
    transform: translateY(100%);

    --ease-speed: 0.25s;
    transition:
        opacity var(--ease-out),
        bottom var(--ease-out);
}

.navbarLink:hover,
.navbarLink:focus,
.navbarLink:focus-within {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    transition:
        background-color var(--ease-out),
        color var(--ease-out);
}
.navbarLink:hover > nav,
.navbarLink:focus > nav,
.navbarLink:focus-within > nav {
    visibility: visible;
    bottom: 0;
    opacity: 1;
}

.navbarLink > nav .label {
    padding: var(--size-xs) var(--size-sm);
}

.navbarLink.nested > nav {
    top: var(--size-xs);
    right: 0;
    transform: translateX(100%);
    transition:
        opacity var(--ease-out),
        top var(--ease-out);
}

.navbarLink.nested {
    user-select: none;
}

.navbarLink.nested:hover > nav,
.navbarLink.nested:focus > nav,
.navbarLink.nested:focus-within > nav {
    bottom: 0;
    top: 0;
}
