.navigationWidget {
}

.navigationWidget nav {
  display: flex;
  background-color: var(--color-base-1);
  border: solid 1px var(--color-base-3);
  border-radius: var(--rounded-sm);
  flex-direction: column;
  list-style: none;
}

.navigationWidget li {
  font: var(--font-heading-md);
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.navigationWidget li::before {
  content: "";
  display: inline-block;
  height: 48px;
  aspect-ratio: 1;
  border-radius: var(--rounded-sm);
  opacity: 0%;
  transition: opacity var(--ease-out);
}

.navigationWidget li:hover::before {
  opacity: 100%;
}

.navigationWidget nav > a:nth-of-type(4n + 1) li::before {
  background-color: var(--color-pixels-brown);
}

.navigationWidget nav > a:nth-of-type(4n + 2) li::before {
  background-color: var(--color-pixels-pink);
}

.navigationWidget nav > a:nth-of-type(4n + 3) li::before {
  background-color: var(--color-pixels-yellow);
}

.navigationWidget nav > a:nth-of-type(4n + 4) li::before {
  background-color: var(--color-pixels-green);
}
