.richtext {
  white-space: pre-line;
}

.richtext a {
  color: var(--color-primary);
  text-decoration: underline;
}

.richtext :global(p) {
  margin-bottom: var(--size-6);
}

.richtext :global(h1),
.richtext :global(h2) {
  margin-bottom: var(--size-4);
}

.richtext :global(h3),
.richtext :global(h4) {
  margin-bottom: var(--size-3);
}
