.Group img {
    height: 128px;
}

.Group {
    padding-top: 16px;
    padding-bottom: 16px;
}

.Group p {
    padding: 8px;
    width: 80%;
    margin: auto;
    margin-bottom: 8px;
}

.Group a {
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    color: white;
}

.Group a:hover {
    background-color: white;
    color: black;
}